.button{
	background-color: black;
	color: white;
	float: right;
	padding: 15px;
	font-size: 15px;
	margin-right: 170px;
	margin-top: 100px;
	border-radius: 2px;
	text-decoration: none;
}

.button:hover{
	background-color: white;
	border: 2px solid grey;
	color: black;
	border-radius: 2px;
}

#exercicio{
	font-family: 'Orbitron', sans-serif;
}