/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

body{
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ex{
  font-size: 50px;
  font-family: "Magneto";
  text-align: center;
  margin-bottom: 0;
}

.dt{
  font-size: 25px;
  font-family: "Magneto";
  text-align: center;
  margin-top: 0;
}

nav{
  max-width: 250px;
  position: absolute;
  clear: both;
}

.menu li{
  list-style: none;
  margin-bottom: 30px;
}

.bt{
  padding: 10px 30px 10px 30px;
  background: black;
  opacity: 0.5;
  border: 2px solid white;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.btn a:hover{
  background: white;
  opacity: 0.2;
  color: black;
  font-weight: bold;
  border: 2px solid black;
}

.seta{
  width: 30px;
  margin-left: 25px;
}

.btn1 a:hover{
  opacity: 0.5;
}

.conteudo{
  width: 1024px;
  height: 570px;
  background-color: white;
  opacity: 0.9;
  border: 2px solid grey;
  margin: auto;
}

footer{
  width: 100%;
  height: 30px;
  background: black;
  line-height: 8px;
  text-align: center;
  font-size: 12px;
  color: white;
  position: fixed;
}