/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#titulo1{
  margin-left: 25px;
  text-align: center;
  font-size: 70px;
  font-family: "Chaparral Pro Light"; 
}

#titulo2{
  margin-top: 40px;
  text-align: center;
  font-size: 40px;
  font-family: "Chaparral Pro Light", Georgia, Serif; 
}


.container {
  background-color: black;
  position: relative;
  height: 900px;
  color: white;
  font-family: "Chaparral Pro Light", Georgia, Serif; 
  margin: auto;
  padding: 0 20px;
  box-sizing: border-box;
  border: 3px solid black;
}

.containerPagina {
  background-color: gray;
  position: relative;
  height: 900px;
  color: white;
  font-family: "Chaparral Pro Light", Georgia, Serif; 
  margin: auto;
  padding: 0 20px;
  box-sizing: border-box;
  border: 3px solid black;
}


.botao {
    margin-left: 39%;
    border: none;
    color: white;
    padding: 16px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid black;
    border-radius: 4px;
}

.botao:hover {
    background-color: gray;
    color: white;
}


.botao1 {
    margin-bottom: 10px;
    border: none;
    color: white;
    padding: 16px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid black;
    border-radius: 4px;
}

.botao1:hover {
    background-color: gray;
    

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
