.titulos{
	text-align: center;
	color: black;
	font-family: 'Tahoma', sans-serif;
}

#primeiro{
	color: #191970;
}

body{
	background-color: #E0FFFF;
}

.botao{
	background-color: #F8F8FF;
	text-align: center;
	color: black;
	border: 1px solid;
	border-radius: 5px;
	padding: 6px;
	text-decoration: none;
	font-weight: bold;
	border-color: #191970;
}

#voltar{
	background-color: black;
	color: white;
	border-color: black;
}
