body{
	background-color: #111111;
	max-width: 1200px;
	margin: auto;
}

.botaofixedcima{
	position: fixed;
    top: 0px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: white;
    height: 50px;
    width: 1200px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    -webkit-transition: 0.3s;
    border-bottom: 0.5px solid #cccccc;
    background-color: #111111;
}

.botaofixedcima:hover{
	background-color: #cccccc;
	color: black;
	-webkit-transition:0.3s;
}

#divProtConteudo{
    margin-top: 50px;
}
