/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/
/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/*-------------------------------------------------*/
body {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
  position: center;
  width: 100%;
  max-width:1024px;
  float: right;
  box-sizing: border-box; 
  height:150px;
  background: white; 
  opacity:0.5;
  margin-top:250px;

}

p{
  font-size:60px;
  color: #B22222; 
  text-align:center;

} 

----------

.botao{
  font-weight:bold;
  padding: 10px;
  float: left;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  color: red;
  margin-left: 40px;
  background-color: red;
  text-decoration: none;

}

.bt:hover{
  color: #FF7F00;
  background-color: #FFFAFA;
  /*CSS 3*/
  border-radius: 10px 0px 10px 0px;
}
nav li {
  list-style: none;
}
.bt {
  padding: 0px 20px 0px 20px; 
  text-decoration: none;
}





}







