#header-container {
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0px;
  left: 0px;
}
#logo {
    color: black;
    margin-top: 15px;
    font-size: 20px;
    margin-left: 0px;
    margin-right: 20px;
}





.container {
  max-width: 800px;
  margin: auto;
  text-align: center;
  color: white;