body {
  font-family: "Verdana"
}

.mundo {
  height: 700px;
  max-width: 1300px;
  margin: auto;
}
#header-container {
  width: 100%;
  background-color: black;
  position: relative;
  top: 0px;
  left: 0px;
  height: 200px;
}
#header {
  position: absolute;
  text-align: center;
  height: 200px;
  right: 20px;
  width: 100px;
  border: 1px solid white;
  top: 0px;
}
#imagemback {
  width: 100px;
  height: 100px;
}
.logo {
  text-decoration: none;
  color: white;
}
#p { 
  padding: 40px 10px 40px 10px;
  background: #272323;
  margin-top: -3px;
}
#img:hover {
  opacity: 0.1;
}
.container {
  margin-top: 300px;
}
#p:hover {
  opacity: 0.3;
}
#titulodiv {
  
}

#eheheh {
  color: white;
}