body {
  font-family: "Verdana"
}

.mundo {

}
#header-container {
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 200px;
  border-bottom: 5px solid white;
}
#header {
  text-align: center;
  height: 200px;
}
#img {
  margin-top: 12px;
}
#img:hover {
  opacity: 0.3;
}
.container {
  margin-top: 300px;
}