body {
  font-family: "Verdana"
}

.mundo {

}
#header-container {
  width: 100%;
  background-color: black;
  position: relative;
  top: 0px;
  left: 0px;
  height: 200px;
}
#header {
  position: absolute;
  text-align: center;
  height: 200px;
  right: 20px;
  width: 100px;
  border: 1px solid white;

}
.border {
  width: 100px;
  height: 100px;
  margin-top: 100px;
  background: lavender;
}
.logo {
  text-decoration: none;
  color: black;
}
#p { 
  padding: 30px;
}
#img:hover {
  opacity: 0.3;
}
.container {
  margin-top: 300px;
}