body {
   font-family: "Verdana";
   margin: inherit;
}


.mundo {
  position: relative;
  max-width: 1400px;
  margin: auto;
  height: 250px;
}
#header-container {
  width: 100%;
  background-color: black;
  position: absolute;
}
#header {
  text-align: center;
  height: 150px;
  color: white;
  margin-top: 60px;
  font-size: 25px;
  font-weight: lighter;
}
.mundo2{
  max-width: 1400px;
  margin: auto;
}
.link {
  text-decoration: none;
}
#imagem1 {
  width: 300px;
  height: 250px;
  opacity: 0;
}
#imagem1:hover {
  opacity: 1;
}
#imagem2 {
  width: 300px;
  height: 250px;
  opacity: 0;
}
#imagem2:hover {
  opacity: 1;
}
#imagem3 {
  width: 300px;
  height: 250px;
  opacity: 0;
}
#imagem3:hover {
  opacity: 1;
}
#imagem4 {
  width: 300px;
  height: 250px;
  opacity: 0;
}
#imagem4:hover {
  opacity: 1;
}
#margem{
  margin:auto;
  text-align: center;
  text-decoration: none;
  border-left: 10px solid cornflowerblue;
  border-right: 10px solid cornflowerblue;
}
.caption {
  max-width: 1400px;
  margin: auto;
}
.caption ul {
  list-style-type: none;
  height: 30px;
  text-align: center;
  color: white;
}
.caption li {
  float: left;
}
.caption ul li {
  padding: 10px 67px 10px 100px;
}
#margem2{
  margin-top: 100px;
  text-align: center;
  text-decoration: none;
  border-left: 10px solid cornflowerblue;
  border-right: 10px solid cornflowerblue;
}
#imagem5 {
  width: 300px;
  height: 250px;
  opacity: 0;
}
#imagem5:hover {
  opacity: 1;
}
#imagem6 {
  width: 300px;
  height: 250px;
  opacity: 0;
}
#imagem6:hover {
  opacity: 1;
}
#imagem7 {
  width: 300px;
  height: 250px;
  opacity: 0;
}
#imagem7:hover {
  opacity: 1;
}
#imagem8 {
  width: 300px;
  height: 250px;
  opacity: 0;
}
#imagem8:hover {
  opacity: 1;
}
.caption2 {
  max-width: 1400px;
  margin: auto;
}
.caption2 ul {
  list-style-type: none;
  height: 30px;
  text-align: center;
  color: white;
}
.caption2 li {
  float: left;
}
.caption2 ul li {
  padding: 10px 67px 10px 100px;
}
footer {
  background-color: #1E1A1A;
  padding: 20px;
  margin-top: 100px;
  opacity: 0.5;



